@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700;800&display=swap');

.family-pop{
	font-family: "Poppins";
}
.family-lato{
	font-family: "Lato";
}
#header.fixed-top{
	position: sticky;
	top:0px;
	background-color: #2b2b2b;
}
section{
	max-width: 1440px;
	width:100%;
	padding:2vw 4vw;
}
.bg-black-p{
	background-color: #1F1F1F;
}
.bg-grey-p{
	background-color: #242424;
}
.section-banner{
	padding: 0.5vw 1vw;
	background-color: #1F1F1F;
	margin-left: auto;
	margin-right: auto;
	margin-top:-92px;
	background:url('../img/publisher/pg-primary.jpg');
	height: 100%;
}

.section-profit{
	max-width: 570px;
	width: 100%;
}
.btn-sign{
	border-radius: 4px;
	background: #FFD84E;
	color: #1F1F1F;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	border:0;
	padding: 16px 24px;
}

.banner-left{
	max-width: 560px;
	width: 100%;
	padding: 40px 0px;
	gap: 46px;
}
.banner-right{
	max-width: 560px;
	padding: 40px;
	gap: 28px;
	width: 100%;
	border-radius: 4px;
	background: #242424;
}
.font-48{
	font-size: 48px;
}
.font-18{
	font-size: 18px;
}
.font-32{
	font-size: 32px;
}
.font-40{
	font-size: 40px;	
}
.font-24{
	font-size: 24px;	
}
.weight-600{
	font-weight: 600;
} 
.line-155{
	line-height: 155%;
}
.weight-500{
	font-weight: 500;
}
.weight-700{
	font-weight: 700;
}
.weight-400{
	font-weight: 400;
}
.line-120{
	line-height: 120%;
}
.line-150{
	line-height: 150%;
}
.color-white{
	color:white;
}
.color-grey{
	color: #A1A1A1;
}
.input-lead{
	height: 40px;
    border: 1px solid #DBDEE7;
    width: 100%;
    border-radius: 4px;
    background: transparent;
    padding: 12px;
    color: white;
}
.btn-submit{
	border-radius: 4px;
	background: #FFD84E;	
	border: none;
	height: 60px;
}

.card-investor{
	gap: 12px;
	border: 1px solid #646464;
	padding: 10px;
}

@media(max-width:600px){
	.font-48{
		font-size: 6vw;
	}
	.font-32 {
		font-size: 5vw;
	}
	.font-40 {
		font-size: 5.7vw;
	}
}